html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-main {
    background: linear-gradient(var(--bg-header) 0px 150px,
            var(--bg-gradient-start)150px,
            var(--bg-gradient-end));
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper {
    transition: 200ms all;
    max-width: 1800px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
        "sidebar-header chat-header"
        "sidebar-body chat-body"
        "sidebar-body chat-toolbar";
}

/* Chat section */

.chat-body,
.chat-header,
.chat-toolbar {
    border-left: 2px solid var(--bg-gradient-start);
}

.chat-header {
    grid-area: chat-header;
    background-color: var(--app-header);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.chat-toolbar {
    grid-area: chat-toolbar;
    background-color: var(--app-toolbar);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.chat-toolbar i {
    font-size: 22px;
    color: var(--toolbar-icons);
}

.chat-toolbar input {
    flex-grow: 1;
    padding: 15px;
    border-radius: 5px;
    width: 0;
}

.header-icons i {
    font-size: 20px;
    padding: 8px;
    color: var(--header-icons);
}

.contact-info {
    flex-grow: 1;
}

.last-access {
    color: var(--grey-text);
}

/* Message Section */

.chat-body {
    grid-area: chat-body;
    background: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 14px;
    overflow: auto;
    position: relative;
}

.message {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    max-width: 70%;
    position: relative;
    scroll-padding-bottom: 50px;
}

.message-dropdown {
    position: absolute;
    right: -10px;
    top: 25px;
    padding: 12px 6px;
    height: 70px;
    z-index: 9999;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(252, 252, 252);
    display: flex;
}

.message,
.message-dropdown {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.068);
}

.message-dropdown p {
    color: rgb(107, 107, 107);
    user-select: none;
    cursor: pointer;
}

.message-dropdown p:hover {
    color: rgb(26, 26, 26);
}

.message-text {
    padding: 10px;
}

.deleted-message {
    color: var(--header-icons);
    font-style: italic;
}

.deleted-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: relative;
    left: 15px;
}

.message-info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
    color: var(--grey-text);
}

.message-info i {
    cursor: pointer;
    opacity: 0;
    transition: 200ms all;
    transform: translateX(5px);
    font-size: 18px;
    user-select: none;
}

.message-info i::after {
    content: " ";
    display: block;
    position: absolute;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    left: -10px;
    top: 0px;
    filter: blur(3px);
    z-index: -1;
}

.message:hover .message-info i,
.fa-solid.fa-chevron-down.active {
    opacity: 1;
    transform: translateX(-5px);
}

.message-time {
    font-size: 10px;
}

.sent {
    align-self: flex-end;
    border-top-right-radius: 0;
}

.sent,
.message.sent .message-info i::after {
    background-color: #D5F9BA;
}

.received {
    align-self: flex-start;
    border-top-left-radius: 0;
}

.received,
.message.received .message-info i::after {
    background-color: #ffffff;
}

/* Sidebar section */

.sidebar-header {
    grid-area: sidebar-header;
    background-color: var(--app-header);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.sidebar-header .icons {
    white-space: nowrap;
}

.sidebar-body {
    grid-area: sidebar-body;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.username {
    flex-grow: 1;
    font-weight: 500;
}

.sidebar-username {
    font-size: 18px;
    font-weight: 500;
}

.sidebar-notification-banner {
    background-color: var(--notification-banner);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.sidebar-notification-banner a {
    font-size: 14px;
    color: var(--link-text)
}

.bell-icon {
    width: 50px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--notification-banner);
    font-size: 25px;
}

.sidebar-search {
    padding: 8px;
    background-color: var(--searchbar-bg);
    display: flex;
}

.sidebar-search button,
.sidebar-search input {
    border: 1px solid var(--bg-gradient-end);
    padding: 10px;
    min-width: 0;
}

.sidebar-search button {
    border-radius: 5px 0px 0px 5px;
    color: var(--grey-text);
}

.sidebar-search input {
    border-radius: 0px 5px 5px 0px;
    flex-grow: 1;
    border-left: none;
}

.contact-thumb {
    max-width: 60px;
    border-radius: 50%;
}

.sidebar-contacts {
    overflow: auto;
}

.sidebar-contact {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
    border-top: 1px solid var(--bg-gradient-start);
    cursor: pointer;
}

.sidebar-contact:hover {
    background-color: var(--sidebar-highlight);
}

.sidebar-contact-thumb {
    width: 70px;
    border-radius: 50%;
}

.sidebar-contact-info {
    align-self: flex-start;
    flex-grow: 1;
}

.sidebar-message,
.sidebar-message-time {
    font-size: 12px;
    color: var(--grey-text)
}

.sidebar-message-time {
    align-self: flex-start;
}

/* Icons */

.icons * {
    cursor: pointer;
    transition: 200ms all;
}

.icons *:hover {
    filter: brightness(50%);
}

/* Scrollbar */

::-webkit-scrollbar {
    background-color: transparent;
    width: 6px
}

::-webkit-scrollbar-thumb {
    background-color: #8080803d;
}

/* Bonus CSS */

.circle {
    border: 5px solid #D5F9BA;
    backdrop-filter: blur(5px);
}


/* MEDIA QUERIES */

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .app-main {
        padding: 0;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .app-wrapper {
        grid-template-columns: 75px 1fr;
    }

    .sidebar-header {
        justify-content: center;
    }

    .sidebar-header :is(.username, .icons) {
        display: none;
    }

    .sidebar-notification-banner {
        justify-content: center;
        gap: 0;
    }

    .sidebar-notification-banner :is(p, a) {
        display: none;
    }

    .sidebar-contact-info,
    .sidebar-message-time {
        display: none;
    }

    .sidebar-contact {
        justify-content: center;
        padding: 10px;
    }

    .sidebar-search input {
        display: none;
    }

    .sidebar-search button {
        width: 100%;
        border-radius: 5px;
    }

    .message {
        max-width: 90%;
    }

    .contact-thumb {
        max-width: 55px;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .app-wrapper {
        grid-template-columns: 60px 1fr;
    }

    .header-icons *:not(:last-child) {
        display: none;
    }

    .sidebar-header,
    .sidebar-contact {
        padding: 10px;
    }

    .chat-body {
        padding: 50px 20px;
    }

}