<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/variables.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div id="app">

        <div class="app-main" @click="hideDropdown()">

            <div class="app-wrapper">

                <!-- CHAT SECTION -->

                <!-- Chat Header -->
                <div class="chat-header">
                    <img class="contact-thumb" :src="contacts[currentContact].avatar"
                        :alt="contacts[currentContact].name">
                    <div class="contact-info">
                        <p class="username">{{contacts[currentContact].name}}</p>
                        <p class="last-access">Last seen at {{printLastMessageTime(currentContact)}}</p>
                    </div>
                    <div class="header-icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- Chat Body -->
                <div class="chat-body">

                    <!-- Chat Messages -->
                    <div class="message"
                        :class="messages.status, {'deleted-message':contacts[currentContact].messages[index].deleted}"
                        v-for="(messages, index) in contacts[currentContact].messages">

                        <span class="deleted-icon" v-show="contacts[currentContact].messages[index].deleted">
                            <i class="fa-solid fa-ban"></i>
                        </span>

                        <p class="message-text">{{messages.message}}</p>

                        <div class="message-info">
                            <i class="fa-solid fa-chevron-down" @click.stop="toggleDropdown(index)"></i>
                            <p class="message-time">{{getTimeFromArray(index)}}</p>
                        </div>

                        <div class="message-dropdown" ref="dropdown"
                        v-show="contacts[currentContact].messages[index].dropdown">
                            <p>Message Info</p>
                            <p @click="deleteMessage(index)">Delete Message</p>
                        </div>

                    </div>

                </div>

                <!-- Chat Toolbar -->
                <div class="chat-toolbar">
                    <span><i class="fa-regular fa-face-flushed"></i></span>
                    <input type="text" placeholder="Type a message" v-model="newMessage"
                        @keydown.enter="sendMessage(newMessage), receiveMessage()">
                    <span><i class="fa-solid fa-microphone"></i></span>
                </div>


                <!-- SIDEBAR SECTION -->

                <!-- Sidebar Header -->
                <div class="sidebar-header">
                    <img class="contact-thumb" src="./img/avatar_io.jpg" alt="">
                    <p class="username">Sofia</p>
                    <div class="header-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- Sidebar Body -->
                <div class="sidebar-body">

                    <!-- Notification Banner -->
                    <div class="sidebar-notification-banner">
                        <div class="bell-icon"><i class="fa-solid fa-bell-slash"></i></div>
                        <div>
                            <p>Background Sync</p>
                            <a href="#">Turn on</a>
                        </div>
                    </div>

                    <!-- Sidebar Search -->
                    <div class="sidebar-search">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input type="text" placeholder="Search or start a new chat" v-model="contactSearched">
                    </div>

                    <!-- Sidebar Contacts -->
                    <ul class="sidebar-contacts">
                        <li class="sidebar-contact" v-show="contact.visible" v-for="(contact, index) in contacts"
                            @click="selectContact(index)">
                            <img class="sidebar-contact-thumb" :src="contact.avatar" :alt="contact.name">
                            <div class="sidebar-contact-info">
                                <p class="sidebar-username">{{contact.name}}</p>
                                <p class="sidebar-message">{{printLastMessage(index)}}</p>
                            </div>
                            <p class="sidebar-message-time">{{printLastMessageTime(index)}}</p>
                        </li>
                    </ul>

                </div>

            </div>
        </div>



    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>